footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

footer .footer__icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .footer__icons img {
    margin-top: 5px;
    width: 30px;
    transition: -webkit-filter 0.1s;
}

footer .footer__icons img:hover {
    -webkit-filter: drop-shadow(0px 0px 5px #fff);
    cursor: pointer;
}

