@font-face {
    font-family: EvangelionBold;
    src: url("../assets/fonts/EvangelionBold.ttf");
}
@font-face {
    font-family: Evangelion;
    src: url("../assets/fonts/Evangelion.otf");
}

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: #ffffff;
    font-family: Calibri, serif;
    overflow-x: hidden;
}

.box{
    background-color: #efefef;
    border-radius: 15px;
    padding: 10px;
    transition: box-shadow 0.3s;
    margin: 10px 10px 30px;
}

.box:hover{
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.1);
}

.subtitles{;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
}


/*

Titre de chacune des pages

 */

.skills{
    border: 2px #f7581f solid;
    color: #f7581f;
    text-align: center;
    transition: background-color 0.3s;
}

.presentation{
    border: 2px #b72c25 solid;
    color: #b72c25;
    text-align: center;
    transition: background-color 0.3s;
}

progress {
    width: 90%;
    height : 10px;
    border: 2px #eaeaea solid;
    border-radius: 15px;
}

progress::-webkit-progress-value {
    border-radius: 15px;
}

progress::-webkit-progress-bar {
    background-color: #efefef;
    border-radius: 15px;
}

.progress__french::-webkit-progress-value {
    background-color: deepskyblue;
}

.progress__english::-webkit-progress-value {
    background-color: yellow;
}

.progress__spanish::-webkit-progress-value {
    background-color: orange;
}

.projects{
    border: 2px #22a4bd solid;
    color: #22a4bd;
    text-align: center;
    transition: background-color 0.3s;
}

.contact{
    border: 2px #91ef7b solid;
    color: #91ef7b;
    text-align: center;
    transition: background-color 0.3s;
}

.box:hover .presentation{
    background-color: #b72c25;
    color: white;
}

.box:hover .skills{
    background-color: #f7581f;
    color: white;
}

.box:hover .projects{
    background-color: #22a4bd;
    color: white;
}

.box:hover .contact{
    background-color: #91ef7b;
    color: white;
}



img{
    width: 40px;
}

.profil__photo{
    width: 180px;
    object-fit: contain;
    border-radius: 15px;
}

main{
    margin: 30px 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title{
    text-align: center;
    width: 80%;
    padding: 20px;
    border-bottom: 3px #2a2a2a solid;

}

.main__profil {
    gap: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;

}

.profil__container{
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.profil__info{
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.profil__info h3{
    text-align: center;
    margin-bottom: 20px;
}

.profil__info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.profil__info ul li:before{
    content: "•";
    color: #363636;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.main__infos__skills, .main__infos__presentation, .main__infos__projects, .main__infos__contact{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.main__contact .inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.main__contact .inputs input{
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.main__contact .inputs:last-child{
    flex-direction: row;
    justify-content: space-evenly;
}

.main__contact .inputs input[type="submit"]{
    border: 2px #91ef7b solid;
    transition: background-color 0.1s;
}

.main__contact .inputs input[type="reset"]{
    border: 2px #b72c25 solid;
    transition: background-color 0.1s;

}

.main__contact .inputs input[type="submit"]:hover{
    background-color: #91ef7b;
}


.main__contact .inputs input[type="reset"]:hover{
    background-color: #b72c25;
}


.main__contact .inputs textarea{
    height: 80px;
    resize: vertical;
    border: none;
    padding: 10px;
    border-radius: 10px;
}


.main__professionnal-projects, .main__competences, .main__formation,
.main__about, .main__projects, .main__contact{
    width: 100%;
    padding: 10px;
}

.competences__languages, .competences__softwares, .competences__stack{
    gap: 10px;
    align-items: baseline;
    padding-bottom: 10px;
}

.formation__info{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
}

.gridbox:nth-child(odd){
    border-right: 2px black solid;
    text-align: center;
}


.gridbox:nth-child(even){
    margin-inline: 10px;
}

.gridbox{
    height: 60%;
    width: 100%;
}

details summary{
    text-align: center;
}


@media (min-width: 767px) and (max-width: 1024px) {

    main .main__title{
        grid-column-start: 1;
        grid-column-end: 3;
    }


    img{
        width: 40px;
    }

    .main__infos__skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .main__competences, .main__formation, .main__professionnal-projects{
        height: 90%;
    }

    .main__competences {
        overflow-x: auto;
    }


    .main__professionnal-projects{
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media (min-width: 1024px) {

    img{
        width: 50px;
    }

    .main__profil{
        flex-direction: row;
    }

    .profil__container{
        width: 100%;
    }

    .main__profil{
        flex-direction: row;
    }

    .profil__container{
        width: 100%;
    }

    .profil__photo {
        width: 180px;
        object-fit: contain;
        border-radius: 15px;
    }

    .main__infos__skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .main__competences, .main__formation, .main__professionnal-projects{
        height: 90%;
    }

    .main__competences {
        overflow-x: auto;
    }


    .main__professionnal-projects{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .project{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .project h3 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        margin-bottom: 20px;
    }

    .project .project__presentation {
        grid-column-start: 1;
        grid-column-end: 3;
        /*border-bottom: 2px black solid;
        margin-bottom: 20px;
        padding-bottom: 20px;*/
    }

}